<!-- Landing Page -->
<div id="landing-page" class="page">
  <p class="title">Dashboard</p>
  <!-- Dashboard Cards -->
  <div id="counts" class="row">
    <!-- Request Forms Card -->
    <%= render "components/count", type: "Request Forms", value: "535,748", percentage: "+15.7%" %>
    <%= render "components/count", type: "Purchase Orders", value: "52,947", percentage: "-6.2%" %>
    <%= render "components/count", type: "quotations", value: "64,723", percentage: "+2.5%" %>
  </div>
  <!-- Request Forms Table -->
  <%= render "components/table" %>
</div>
