<% # render "components/nav", cart_badge: @cart.length %>
<!-- Navigation Bar -->
<header id="nav">
  <!-- Logo -->
  <div class="logo">
    <%= link_to root_path do %>
      <!-- Image -->
      <img src="/brand/logo.png" width="241" height="46" alt="logo"/>
    <% end %>
  </div>
</header>