<div class="request-forms-container">
<div class="header">
  <p id="request-forms-title">Request Forms</p>
  <div class="search-bar">
    <input type="date" placeholder="mm/dd/yy" />
    <input type="text" placeholder="RFN-738429" />
    <button type="button">
      <i class="fa fa-search"></i>
    </button>
  </div>
</div>

  <table class="request-forms-table">
    <thead>
      <tr>
        <th>NUMBER</th>
        <th>P.O. #</th>
        <th>CLIENT NAME</th>
        <th>AMOUNT</th>
        <th>DATE</th>
        <th>STATUS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="#">RFN-738429</a></td>
        <td>73469</td>
        <td>2GO Group Inc.</td>
        <td>₱ 35,000.00</td>
        <td>July 27, 2024</td>
        <td><span class="status pending">Pending</span></td>
      </tr>
      <tr>
        <td><a href="#">RFN-738590</a></td>
        <td>13457</td>
        <td>2GO Group Inc.</td>
        <td>₱ 42,467.00</td>
        <td>July 27, 2024</td>
        <td><span class="status pending">Pending</span></td>
      </tr>
      <tr>
        <td><a href="#">RFN-738480</a></td>
        <td>29453</td>
        <td>Frabelle Corp.</td>
        <td>₱ 15,400.00</td>
        <td>July 27, 2024</td>
        <td><span class="status pending">Pending</span></td>
      </tr>
      <tr>
        <td><a href="#">RFN-738210</a></td>
        <td>27421</td>
        <td>PSACC</td>
        <td>₱ 12,850.80</td>
        <td>July 27, 2024</td>
        <td><span class="status approved">Approved</span></td>
      </tr>
      <tr>
        <td><a href="#">RFN-738680</a></td>
        <td>36421</td>
        <td>PSACC</td>
        <td>₱ 15,400.00</td>
        <td>July 27, 2024</td>
        <td><span class="status rejected">Rejected</span></td>
      </tr>
      <tr>
        <td><a href="#">RFN-738157</a></td>
        <td>63521</td>
        <td>Chelsea Shipping Corp.</td>
        <td>₱ 115,490.50</td>
        <td>July 27, 2024</td>
        <td><span class="status approved">Approved</span></td>
      </tr>
      <tr>
        <td><a href="#">RFN-738974</a></td>
        <td>53921</td>
        <td>2GO Group Inc.</td>
        <td>₱ 85,530.00</td>
        <td>July 27, 2024</td>
        <td><span class="status approved text-success">Approved</span></td>
      </tr>
    </tbody>
  </table>
</div>
