<!-- Table Container -->
<div class="document-container" >
  <div class="header" data-controller="table-filter flatpickr" data-table-filter-url-value="<%= request.path %>">
    <div class="pagination">
      <%== pagy_nav(@pagy) if @pagy.present? && @pagy.pages > 1 %>
    </div>
    <div class="search-bar">
      <div class="relative">
        <i class="fa-regular fa-calendar"></i>
        <input type="text" 
            class="date-picker-input"
            placeholder="mm/dd/yy" 
            data-table-filter-target="dateInput"
            data-flatpickr-target="dateInput"
            data-action="change->table-filter#filter" />
        <span class="clear-date-btn" 
             data-action="click->table-filter#clearDate"
          data-flatpickr-target="clearDateBtn"
          data-table-filter-target="clearDateBtn"
          title="Clear date">Clear Filter</span>
        <input type="text" 
        placeholder="Search..." 
        data-table-filter-target="searchInput"
        data-action="input->table-filter#search" />
      </div>
    </div>
  </div>
  <div style="overflow-x: auto; width: 100%;">
    <%= render "components/table_body", documents: documents, title: title %>
  </div>
</div>
