<!-- Table Container -->
<div class="document-container" 
  data-controller="table-filter"
  data-table-filter-url-value="<%= request.path %>">
  <div class="header">
    <p id="title"><%= title %></p>
    <div class="search-bar">
      <%# unless title == "Employees" || title == "Suppliers" || title == "Clients" %>
      <input type="date" 
          placeholder="mm/dd/yy" 
          data-table-filter-target="dateInput"
          data-action="change->table-filter#filter" />
      <%# end %>
      <input type="text" 
        placeholder="Search..." 
        data-table-filter-target="searchInput"
        data-action="input->table-filter#search" />
    </div>
  </div>
  <%= render "components/table_body", documents: documents, title: title %>
</div>
