<!-- Table Container -->
<div class="document-container" 
  data-controller="table-filter"
  data-table-filter-url-value="<%= request.path %>">
  <div class="header">
    <p id="title"><%= title %></p>
    <div class="search-bar">
      <%# unless title == "Employees" || title == "Suppliers" || title == "Clients" %>
      <input type="date" 
          placeholder="mm/dd/yy" 
          data-table-filter-target="dateInput"
          data-action="change->table-filter#filter" />
      <%# end %>
      <input type="text" 
        placeholder="Search..." 
        data-table-filter-target="searchInput"
        data-action="input->table-filter#search" />
    </div>
  </div>
  <div class="pagination">
    <%== pagy_nav(@pagy) if @pagy.present? && @pagy.pages > 1 %>
  </div>
  <table class="document-table">
    <thead>
      <tr>
        <% if title == "Quotations" %>
          <th style="width: 10%;">Reference Number</th>
          <th style="width: 20%;">Client Name</th>
          <th style="width: 20%;">Subject</th>
          <th style="width: 10%;">Amount</th>
          <th style="width: 10%;">Date</th>
          <th style="width: 7%;">Status</th>
        <% elsif title == "Canvasses" %>
          <th style="width: 10%;">Reference Number</th>
          <th style="width: 10%;">Project</th>
          <th style="width: 20%;">Item</th>
          <th style="width: 10%;">Date</th>
          <th style="width: 5%;">Status</th>
        <% elsif title == "Request Forms" %>
          <th style="width: 10%;">Reference Number</th>
          <th style="width: 20%;">Client</th>
          <th style="width: 10%;">Amount</th>
          <th style="width: 10%;">Date</th>
          <th style="width: 5%;">Status</th>
        <% elsif title == "Purchase Orders" %>
          <th style="width: 10%;">Reference Number</th>
          <th style="width: 20%;">Vendor</th>
          <th style="width: 10%;">Amount</th>
          <th style="width: 10%;">Date</th>
          <th style="width: 5%;">Status</th>
        <% elsif title == "Projects" %>
          <th style="width: 10%;">Reference Number</th>
          <th style="width: 20%;">Client</th>
          <th style="width: 10%;">Amount</th>
          <th style="width: 10%;">Date</th>
          <th style="width: 5%;">Status</th>
        <% elsif title == "Employees" %>
          <th>Name</th>
          <th>Department</th>
          <th>Position</th>
          <th>Role</th>
          <th>Action</th>
        <% elsif title == "Whitelisted Employees" %>
          <th>Name</th>
          <th>Email</th>
          <th>Department</th>
          <th>Creation Date</th>
        <% elsif title == "Suppliers" %>
          <th style="width: 25%;">Name</th>
          <th style="width: 10%;">Code</th>
          <th style="width: 35%;">Address</th>
          <th style="width: 10%;">Creation Date</th>
        <% elsif title == "Clients" %>
          <th style="width: 25%;">Name</th>
          <th style="width: 10%;">Code</th>
          <th style="width: 35%;">Address</th>
          <th style="width: 10%;">Creation Date</th>
        <% elsif title == "Voided Documents" %>
          <th>Document Type</th>
          <th>Reference Number</th>
          <th>Deleted At</th>
          <th>Deleted By</th>
        <% end %>
      </tr>
    </thead>
  </table>
  <%= render "components/table_body", documents: documents, title: title %>
</div>
