<!-- Table Container -->
<div class="document-container" 
  data-controller="table-filter"
  data-table-filter-url-value="<%= request.path %>">
  <div class="header">
    <p id="title"><%= title %></p>
    <div class="search-bar">
      <%# unless title == "Employees" || title == "Suppliers" || title == "Clients" %>
      <input type="date" 
          placeholder="mm/dd/yy" 
          data-table-filter-target="dateInput"
          data-action="change->table-filter#filter" />
      <%# end %>
      <input type="text" 
        placeholder="Search..." 
        data-table-filter-target="searchInput"
        data-action="input->table-filter#search" />
      <button type="button">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>
  <div class="pagination">
    <%== pagy_nav(@pagy) if @pagy.present? && @pagy.pages > 1 %>
  </div>
  <table class="document-table">
    <thead>
      <tr>
        <% if title == "Quotations" %>
          <th>Reference Number</th>
          <%# <th>Client Name</th> %>
          <th>Subject</th>
          <th>Amount</th>
          <th>Date</th>
          <th>Status</th>
        <% elsif title == "Request Forms" %>
          <th>Reference Number</th>
          <th>Quotation</th>
          <th>Canvass</th>
          <th>Amount</th>
          <th>Date</th>
          <th>Status</th>
        <% elsif title == "Canvasses" %>
          <th>Reference Number</th>
          <th>Item</th>
          <th>Date</th>
          <th>Status</th>
        <% elsif title == "Purchase Orders" %>
          <th>Reference Number</th>
          <th>Vendor</th>
          <th>Amount</th>
          <th>Date</th>
          <th>Status</th>
        <% elsif title == "Projects" %>
          <th>Reference Number</th>
          <th>Client</th>
          <th>Amount</th>
          <th>Date</th>
          <th>Status</th>
        <% elsif title == "Employees" %>
          <th>Name</th>
          <th>Department</th>
          <th>Email</th>
          <th>Role</th>
          <th>Action</th>
        <% elsif title == "Whitelisted Employees" %>
          <th>Name</th>
          <th>Email</th>
          <th>Department</th>
          <th>Creation Date</th>
        <% elsif title == "Suppliers" %>
          <th>Name</th>
          <th>Code</th>
          <th>Address</th>
          <th>Creation Date</th>
        <% elsif title == "Clients" %>
          <th>Name</th>
          <th>Code</th>
          <th>Address</th>
          <th>Company</th>
          <th>Creation Date</th>
        <% end %>
      </tr>
    </thead>
  </table>
  <%= render "components/table_body", documents: documents, title: title %>
</div>
