<div id="<%= dom_id employee %>">
  <p>
    <strong>Name:</strong>
    <%= employee.name %>
  </p>

  <p>
    <strong>Contact number:</strong>
    <%= employee.contact_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= employee.email %>
  </p>

</div>
