<% content_for :title, "Whitelist employee's email" %>
<div class="page">
  <p class="title">Whitelist employee's email</p>
  <div class="mb-5" style="font-size: 14px;">
    <span>
      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle-info" class="svg-inline--fa fa-circle-info fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="width: 1em; height: 1em; margin-right: 0.5em; vertical-align: -0.125em;"><path fill="#0e69cc" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"/></svg>
    </span>
    <span>This only whitelists their email. They will still need to register for an account using their whitelisted email address.</span>
  </div>
  <%= render "form", employee: @employee %>
  <br>
</div>