.show-page {
  margin-bottom: 8px;
  .action-buttons {
    max-width: 360px;
    margin-bottom: 16px;
    button {
      padding: 6px 10px;
      border: 1px solid #ccc;
      border-radius: 5px;

      span {
        font-size: 14px;
      }
    }

    button:not(:last-child) {
      margin-right: 5px;
    }
  }
}
