.button {
  background-color: var(--primary-color);
}

.button.white {
  background-color: white;
}

#btn-approve {
  background-color: var(--success-color);
}

#btn-reject {
  background-color: var(--danger-color);
}

#btn-pending {
  background-color: var(--warning-color);
}
