.button {
  background-color: var(--button-color);
}

.button.white {
  background-color: white;
}

#btn-approve {
  background-color: var(--success-color);
}

#btn-reject {
  background-color: var(--danger-color);
}

#btn-pending {
  background-color: var(--warning-color);
}

.add-item-button {
  color: var(--button-color);
}

.remove-item-button {
  color: var(--danger-color);
}

.button.primary {
  background-color: var(--primary-color);
}

.button.secondary {
  background-color: var(--secondary-color);
}
