<p style="color: green"><%= notice %></p>
<% content_for :title, "Canvasses" %>
<h1>Canvasses</h1>
<%= link_to "New canvass", new_canvass_path %>
<br>
<br>
<div id="canvasses">
  <% @canvasses.each do |canvass| %>
    <%= render canvass %>
    <p>
      <%= link_to "Show this canvass", canvass %>
    </p>
  <% end %>
</div>
