.hidden {
  display: none !important;
}

.flex {
  display: flex;
}

.gap-60 {
  gap: 60px;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.flex-start {
  justify-content: flex-start;
}
