.grid {
  display: grid;
  grid-template-columns: 1fr;
  align-items: flex-end;
  &.with-2-columns {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 12px;
  }
  &.with-3-columns {
    grid-template-columns: 1fr 1fr 1fr;
    // grid-template-columns: 1fr 1.5fr 0.5fr;
    grid-column-gap: 12px;
  }
  &.with-4-columns {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 12px;
  }
  &.with-5-columns {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 12px;
  }
  &.with-6-columns {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 12px;
  }
  &.with-7-columns {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 12px;
  }
  div.field {
    margin: 16px 0 0;
  }
  &.col-span-2 {
    grid-column: span 2;
  }
  &.gtc-2-1-1 {
    grid-template-columns: 1.5fr 1fr 1fr;
  }
}

.grid-header {
  font-size: 10pt;
  font-weight: 600;
  margin: 6px 0;
  text-transform: uppercase;
}

.baseline {
  align-items: baseline;
}
