.pdf-container {
  padding: 0 1rem;
  p {
    font-size: 10px;
  }
  header {
    margin-bottom: 24px;
    .old-header {
      max-width: 480px;
      text-align: center;
      margin-left: 74px;
      p {
        font-size: 8px;
      }
      #company-name {
        font-size: 24px;
        font-weight: bold;
      }
    }
    .document-uid {
      font-size: 12px;
      font-weight: 500;
    }
  }
  font-size: 10px;
  .contact-card {
    .contact-details {
      padding: 8px;
      background: linear-gradient(to right, #ffdb57, #fdae4e);
      max-width: 260px;
      p {
        font-size: 8px;
      }
    }

    .logo {
      // padding: 0.8rem 0;
      background-color: #000a52;
      text-align: center;
      width: 145px;

      img.gat-logo {
        margin-top: 0.8rem;
        width: 76px;
        height: 40px;
      }

      img.gcmes-logo {
        margin-top: 0rem;
        width: 120px;
        height: 84px;
      }

      p {
        color: #f5db07;
        font-weight: 600;
        font-size: 10px;
        margin-top: 0.7rem;
      }
    }
  }

  th,
  th {
    background-color: #fff8c2;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
  }

  // .canvass-table {
  //   max-width: 500px;
  //   margin: 0 auto;
  // }

  th,
  td {
    border: 1px solid black;
    padding: 8px;
    // text-align: left;
  }

  #customer-table td:first-child {
    background-color: #fff8c2;
  }

  #products-table {
    #product-image {
      max-width: 225px;
      max-height: 150px;
      text-align: center;
    }
    tbody td:first-child {
      border: none;
    }

    .index-number {
      border: 1px solid black;
    }
  }

  #totals-table {
    max-width: 200px;
    float: right;
    margin-bottom: 3rem;

    tr:last-child {
      background-color: #f8d251;
      strong {
        color: #d60000;
      }
    }
    th,
    td {
      border: none;
      text-align: right;
    }
    tr td:first-child {
      text-align: left;
    }
  }

  #terms-container {
    margin-top: 120px;
    max-width: 500px;
    p {
      margin-bottom: 0.5rem;
    }

    #terms-details {
      display: grid;
      grid-template-columns: 70px 1fr;
      row-gap: 0.3rem;
    }
  }

  #signatures-table {
    thead tr th {
      text-align: center;
    }
    tbody tr td {
      height: 70px;
      text-align: center;
    }
  }
}
