.pdf-container {
  padding: 0 1rem;
  overflow: auto;
  p {
    font-size: 10px;
  }
  header {
    margin: 0 auto;
    margin-bottom: 24px;
    .old-header {
      max-width: 480px;
      text-align: center;
      margin: 0 auto 0 35%;
      p {
        font-size: 8px;
      }
      #company-name {
        font-size: 24px;
        font-weight: bold;
      }
    }
    .document-uid {
      font-size: 12px;
      font-weight: 500;
    }
  }
  font-size: 10px;
  .contact-card {
    .contact-details {
      padding: 8px;
      background: linear-gradient(to right, #ffdb57, #fdae4e);
      max-width: 260px;
      p {
        font-size: 8px;
      }
    }

    .logo {
      // padding: 0.8rem 0;
      background-color: #000a52;
      text-align: center;
      width: 145px;

      img.gat-logo {
        margin-top: 0.8rem;
        width: 76px;
        height: 40px;
      }

      img.gcmes-logo {
        margin-top: 0rem;
        width: 120px;
        height: 84px;
      }

      p {
        color: #f5db07;
        font-weight: 600;
        font-size: 10px;
        margin-top: 0.5rem;
      }
    }
  }

  th,
  th {
    // background-color: #fff8c2;
    // background-color: #fffad6;
    background-color: #f3f9ff;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
  }

  th,
  td {
    border: 1px solid #666666;
    padding: 8px;
    // text-align: left;
  }

  #customer-table td:first-child {
    // background-color: #fff8c2;
    // background-color: #fffad6;
    background-color: #f3f9ff;
  }

  #products-table {
    #product-image {
      max-width: 225px;
      max-height: 150px;
      text-align: center;
    }
    tbody td:first-child {
      border: none;
    }

    .index-number {
      border: 1px solid black;
    }
  }

  #totals-table {
    max-width: 220px;
    float: right;
    margin-top: 0;
    margin-bottom: 1rem;

    tr:last-child {
      background-color: #f8d251;
      strong {
        color: #d60000;
      }
    }
    th,
    td {
      border: none;
      text-align: right;
      padding: 2px 8px;
    }
    tr td:first-child {
      text-align: left;
    }
  }

  .clear-fix {
    clear: both;
  }

  #terms-container {
    // margin-top: 120px;
    max-width: 500px;
    p {
      margin-bottom: 0.5rem;
    }

    #terms-details {
      display: grid;
      grid-template-columns: 70px 1fr;
      row-gap: 0.3rem;
    }
  }

  .signatures-table {
    thead tr th {
      text-align: center;
    }
    tbody tr td {
      height: 50px;
      text-align: center;
      position: relative;
      padding-top: 4px;
      padding-bottom: 0;
      .signature-image {
        position: absolute;
        bottom: 14px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 100px;
        height: 35px;
      }
      p {
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 6px;
        position: absolute;
      }
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      // background-color: red;
    }
  }
}

.selected-supplier-badge {
  display: inline-block;
  margin-left: 8px;
  padding: 2px 6px;
  background-color: #4caf50;
  color: white;
  border-radius: 4px;
  font-size: 0.8em;
}
