<div class="header">
  <a href="/<%= document.class.name.tableize %>" class="back-icon" style="color: #4b4b4b;">
    <i class="fa-solid fa-arrow-left"></i>
    <span class="page-title"><%= document.class.name.pluralize %></span>
  </a>
  <i class="fa-solid fa-chevron-right"></i>
  <span><%= document.uid %></span>
</div>