<div class="header">
  <a href="/<%= document.class.name.tableize %>" class="back-icon" style="color: #4b4b4b;">
    <i class="fa-solid fa-arrow-left"></i>
    <span class="page-title"><%= document.class.name.underscore.humanize.titleize.pluralize %></span>
  </a>
  <i style="margin-right: 16px;" class="fa-solid fa-chevron-right"></i>
  <% if %w[supplier client].include?(document.class.name.underscore) %>
    <span><%= document.name %></span>
  <% else %>
    <span><%= document.uid %></span>
  <% end %>
</div>