<div class="page quotation-page" id="<%= dom_id quotation %>">
  <%#= render layout: 'quotation' do %>
    <%= render 'pages/show', document: @quotation %>
    <%#= render 'quotations/pdf_view', quotation: @quotation %>
    <!--
    -->
    <%# end %>
  </div>