<%#= render 'pages/components/show_header', document: @quotation %>
<div class="flex">
  <%= render "components/document_sidebar", document: @quotation, documents: @quotations %>
  <%= render @quotation %>
</div>
