<div class="show-page">
  <%#= render 'pages/components/show_header', document: document %>
  <div class="">
    <p style="display:inline-block;" id="document-uid"><%= document.uid %></p>
    <div style="margin: 0 0 6px 10px;" class="status-dot <%= document.status.downcase %>"></div>
  </div>
  <%= render 'pages/components/action_buttons', document: document %>
  <div style="margin-bottom: 20px;" class="flex flex-col gap-60 auto">
    <div class="auto">
      <iframe 
      src="<%= case document.class.name.underscore
                when 'quotation' then pdf_view_quotation_path(document)
                when 'canvass' then pdf_view_canvass_path(document)
                when 'request_form' then pdf_view_request_form_path(document)
                when 'purchase_order' then pdf_view_purchase_order_path(document)
                else '#' # Fallback or default case
              end %>"
      width="700px" 
      height="800px"
      style="border: 3px solid #e2e8f0; 
             border-radius: 0px;
             box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
             padding: 4px;"
      >
      </iframe>
    </div>
  </div>
</div>
