// colors.scss
.primary {
  color: #22417b;
}

.secondary {
  color: #fdd424;
}

.black {
  color: #262e3a;
}

.green {
  color: #00a826;
}

.yellow {
  color: #ffcc00;
}

.red {
  color: #9a000f;
}

.white {
  color: #e8e8e8;
}

.bg-prime {
  background-color: #f2f6ff;
}

.text-success,
.approved,
.served {
  color: #28a745;
  background-color: #c6efcf;
  outline: 1px solid #28a745;
}

.icon-success {
  color: #28a745;
}

.icon-danger {
  color: #a80000;
}

.icon-warning {
  color: #995a00;
}

.icon-info {
  color: #007bff;
}

.text-danger,
.rejected {
  color: #a80000;
  background-color: #efc6c6;
  outline: 1px solid #a80000;
}

.text-neutral,
.ongoing,
.pending {
  color: #995a00;
  background-color: #ffedcf;
  outline: 1px solid #995a00;
}

.required {
  color: #d6141d;
}
