// fonts.scss
* {
  font-family: "Manrope", Helvetica, Arial, sans-serif;
  color: var(--black-color);
}

i,
span {
  color: inherit;
}

// Imported Fonts
// Manrope
@font-face {
  font-family: "Manrope";
  src: font-url("Manrope/Manrope-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: font-url("Manrope/Manrope-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: font-url("Manrope/Manrope-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: font-url("Manrope/Manrope-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: font-url("Manrope/Manrope-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: font-url("Manrope/Manrope-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: font-url("Manrope/Manrope-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

.semibold {
  font-weight: 600;
}

// Bold
.bold {
  font-weight: bold;
}

// Bolder
.bolder {
  font-weight: 800;
}

// Presets
.gradient-text {
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}

// Text shadow can be set to 0 4px 0 #e1e1e1 for stronger effect
.shadow-text {
  text-shadow: 0 2.4px 0 #e1e1e1;
}

// .white-text {
//   background: #fafafa;
//   background-clip: text;
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
// }

.translucent-text {
  opacity: 0.8;
  color: inherit;
}

.s-text {
  font-size: 14px;
}

.xs-text {
  font-size: 12px;
}
