:root {
  // Max Width
  --max-width: 12440px;
  // Brand Colors
  --primary-color: #fdd424;
  --secondary-color: #22417b;
  --tertiary-color: #000a52;
  --background-color: linear-gradient(180deg, #f2f6ff 0%, #4e6db3 100%);
  --button-color: #0e69cc;
  // --black-color: #262e3a;
  --black-color: #2a2a2a;
  --gray-color: #464646;
  // --accent-color: #ffc0974f;
  // Primary Colors
  --green: #00a826;
  --yellow: #ffcc00;
  --brown: #995a00;
  --red: #9a000f;
  --danger-color: #e53e3e;
  --success-color: #48bb78;
  // Social Media Colos
  --facebook: #3b5998;
  --messenger: #0078ff;
  --twitter: #1da1f2;
  // Gradient
  --gradient: linear-gradient(180deg, #f2f6ff 0%, #4e6db3 100%);
  // Border Radius
  --border-radius: 16px;
  // Cards
  --card-padding: 24px;
  --card-border-radius: 10px;
  --card-full-width: calc(100% - 48px);
}
