:root {
    // Max Width
    --max-width: 1124px;
    // Brand Colors
    --primary-color: #FF6200;
    --secondary-color: #FDD424;
    --tertiary-color: #000A52;
    --background-color: #F2F6FF;
    --black-color: #191919;
    --accent-color: #FFC0974F;
    // Primary Colors
    --green: #56941E;
    --yellow: #ffcc00;
    --red: #ed1419;
    // Social Media Colos
    --facebook: #3b5998;
    --messenger: #0078ff;
    --twitter: #1da1f2;
    // Gradient
    --gradient: linear-gradient(225deg, #FD9346, #FF6200);
    // Border Radius
    --border-radius: 16px;
    // Cards
    --card-padding: 24px;
    --card-border-radius: 24px;
    --card-full-width: calc(100% - 48px);
}