<div id="<%= dom_id particular %>">
  <p>
    <strong>Name:</strong>
    <%= particular.name %>
  </p>

  <p>
    <strong>Allowance:</strong>
    <%= particular.allowance %>
  </p>

  <p>
    <strong>Request form:</strong>
    <%= particular.request_form_id %>
  </p>

</div>
