<p style="color: green"><%= notice %></p>

<% content_for :title, "Particulars" %>

<h1>Particulars</h1>

<div id="particulars">
  <% @particulars.each do |particular| %>
    <%= render particular %>
    <p>
      <%= link_to "Show this particular", particular %>
    </p>
  <% end %>
</div>

<%= link_to "New particular", new_particular_path %>
