form div {
  margin-bottom: 10px;
}

// form label {
//   display: block;
// }

form input[type="text"],
form input[type="number"],
form textarea,
form select {
  &:hover {
    box-shadow: 0 0 2px var(--button-color);
  }
}

form input[type="text"],
form input[type="number"],
form input[type="submit"],
form textarea,
form select {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 400px;
}

form input[type="file"] {
  padding: 0;
}

form input[type="file"] {
  width: 100%;
  font-size: 0.7rem;
  border: 1px solid #ccc;
}

form input[type="file"] {
  max-width: 220px;
}

form select {
  appearance: none;
}

form input[type="submit"] {
  background-color: var(--button-color);
  color: white;
  border: none;
  font-size: 0.875rem;
  font-weight: 500;
  cursor: pointer;
  max-width: none;
}

form a {
  font-size: 0.875rem;
  font-weight: 500;
}

form input[type="submit"]:hover {
  // background-color: #0e69cc;
}

form .select-container {
  position: relative;
  // width: 500px;
  width: auto;
  max-width: 400px;
}

.svg-inline--fa.fa-w-10 {
  width: 0.625em;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

form .field {
  margin-bottom: 2rem;
}

form #company-field {
  input[type="radio"]:nth-of-type(2) {
    margin-left: 1rem;
  }
}

.form-container {
  display: grid;
  gap: 1rem;

  .field {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    // gap: 1rem;
  }

  .form-container .select-container {
    position: relative;
  }

  .select-status-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }

  .separator {
    border-top: 1px solid #efefef;
    margin: 1rem 0;
  }

  .travel-date-fields {
    div {
      margin: 0;
    }
    input[type="text"] {
      max-width: 97%;
    }
  }

  .total-calculator {
    .totals-section {
      margin-bottom: 30px;
      border-top: 1px solid #ddd;
      padding: 15px;
      width: 400px;
      margin-left: auto;
      background-color: #f9f9f9;
      border-radius: 5px;
    }

    .total-row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;
      input[type="text"] {
        margin-left: 10px;
        padding: 0;
        width: 50px;
        text-align: right;
      }
    }

    .total-label {
      font-weight: 500;
    }

    .total-final {
      border-top: 1px solid #ddd;
      padding-top: 8px;
      font-weight: bold;
    }
  }
}
