.nested-form-wrapper {
  //   margin-top: 1rem;
  margin-bottom: 0;
  input[type="text"] {
    border-radius: 0px;
    max-width: none;
  }
}

// Quotation Product Table
.quotation-product-table {
  font-size: 14px;
  width: 100%;
  border-collapse: collapse;
  thead {
    #table-header {
      background-color: #f9f9fb;
      font-size: 12px;
    }
    th {
      border: 1px solid #ccc;
      padding: 10px;
      font-weight: 500;
      &:nth-child(n + 3):nth-child(-n + 6) {
        text-align: right;
      }
    }
  }

  td {
    vertical-align: top;
    border: 1px solid #ccc;
    label {
      display: block;
      margin-bottom: 5px;
    }
    input[type="text"],
    input[type="number"],
    input[type="file"] {
      width: 100%;
      padding: 8px;
      box-sizing: border-box;
      border: none;
    }
  }

  #spec-title {
    display: grid;
    grid-template-columns: 0.4fr 0.4fr 1fr;
    align-items: flex-end;
    gap: 10px;
  }

  .nested-spec-form {
    display: grid;
    grid-template-columns: 0.4fr 0.4fr 1fr;
    align-items: center;
    column-gap: 10px;

    input[type="text"] {
      //   max-width: 350px;
      border: 1px solid #ccc;
    }
  }
}

// Canvass Product Table
.canvass-product-table {
  font-size: 14px;
  width: 100%;
  border-collapse: collapse;
  thead {
    #table-header {
      background-color: #f9f9fb;
      font-size: 12px;
    }
    th {
      border: 1px solid #ccc;
      padding: 10px;
      font-weight: 500;
      &:nth-child(n + 3):nth-child(-n + 6) {
        text-align: right;
      }
    }
  }

  td {
    vertical-align: top;
    border: 1px solid #ccc;
    label {
      display: block;
      margin-bottom: 5px;
    }
    input[type="text"],
    input[type="number"],
    input[type="file"],
    select {
      width: 100%;
      padding: 8px;
      box-sizing: border-box;
      border: none;
    }
    .select-container {
      margin: 0;
      select {
        border-radius: 0;
      }
    }
  }

  #spec-title {
    display: grid;
    grid-template-columns: 0.4fr 0.4fr 1fr;
    align-items: flex-end;
    gap: 10px;
  }

  .nested-spec-form {
    display: grid;
    grid-template-columns: 0.4fr 0.4fr 1fr;
    align-items: center;
    column-gap: 10px;

    input[type="text"] {
      //   max-width: 350px;
      border: 1px solid #ccc;
    }
  }
}

.allowance-table {
  font-size: 14px;
  width: 100%;
  border-collapse: collapse;
  thead {
    #table-header {
      background-color: #f9f9fb;
      font-size: 12px;
    }
    th {
      border: 1px solid #ccc;
      padding: 10px;
      font-weight: 500;

      &:nth-child(2) {
        text-align: right;
      }
    }
  }

  td {
    vertical-align: top;
    border: 1px solid #ccc;
    label {
      display: block;
      margin-bottom: 5px;
    }
    input[type="text"],
    input[type="number"],
    input[type="file"],
    select {
      width: 100%;
      padding: 8px;
      box-sizing: border-box;
      border: none;
    }
    .select-container {
      margin: 0;
      select {
        border-radius: 0;
      }
    }
  }

  #spec-title {
    display: grid;
    grid-template-columns: 0.4fr 0.4fr 1fr;
    align-items: flex-end;
    gap: 10px;
  }

  .nested-spec-form {
    display: grid;
    grid-template-columns: 0.4fr 0.4fr 1fr;
    align-items: center;
    column-gap: 10px;

    input[type="text"] {
      //   max-width: 350px;
      border: 1px solid #ccc;
    }
  }
}

.order-table {
  font-size: 14px;
  width: 100%;
  border-collapse: collapse;
  thead {
    #table-header {
      background-color: #f9f9fb;
      font-size: 12px;
    }
    th {
      border: 1px solid #ccc;
      padding: 10px;
      font-weight: 500;

      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        text-align: right;
      }
    }
  }

  td {
    vertical-align: top;
    border: 1px solid #ccc;
    label {
      display: block;
      margin-bottom: 5px;
    }
    input[type="text"],
    input[type="number"],
    input[type="file"],
    select {
      width: 100%;
      padding: 8px;
      box-sizing: border-box;
      border: none;
    }
    .select-container {
      margin: 0;
      select {
        border-radius: 0;
      }
    }
  }
}

.allowance-form-container {
  .balance-section {
    input[type="text"] {
      width: 20%;
    }
  }
}

.item-table {
  font-size: 14px;
  width: 100%;
  border-collapse: collapse;
  thead {
    #table-header {
      background-color: #f9f9fb;
      font-size: 12px;
    }
    th {
      border: 1px solid #ccc;
      padding: 10px;
      font-weight: 500;
    }
  }

  td {
    vertical-align: top;
    border: 1px solid #ccc;
    label {
      display: block;
      margin-bottom: 5px;
    }
    input[type="text"],
    input[type="number"],
    input[type="file"],
    select {
      width: 100%;
      padding: 8px;
      box-sizing: border-box;
      border: none;
    }
    .select-container {
      margin: 0;
      select {
        border-radius: 0;
      }
    }
  }
}

.contact-table {
  font-size: 14px;
  width: 100%;
  border-collapse: collapse;
  thead {
    #table-header {
      background-color: #f9f9fb;
      font-size: 12px;
    }
    th {
      border: 1px solid #ccc;
      padding: 10px;
      font-weight: 500;
    }
  }

  td {
    vertical-align: top;
    border: 1px solid #ccc;
    label {
      display: block;
      margin-bottom: 5px;
    }
    input[type="text"],
    input[type="number"],
    input[type="file"],
    select {
      width: 100%;
      padding: 8px;
      box-sizing: border-box;
      border: none;
    }
    .select-container {
      margin: 0;
      select {
        border-radius: 0;
      }
    }
  }
}
