#moderators-sidebar {
  position: fixed;
  width: 234px;
  height: 100%;
  padding: 16px;
  background-color: #eceff3;
  border-right: 1px solid #e0e0e0;
  // transition: transform 0.3s ease-in-out;
  z-index: 1000;

  #brand {
    text-align: center;

    .logos {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      background: #000a52;
      // max-width: 250px;
      margin: 0 auto;
      padding: 2px 12px;
      border-radius: 12px;
    }

    img {
      max-width: 70px;
    }
  }

  #navigation {
    margin: 26px 0;

    p {
      color: #7a7a7a;
      width: 100%;
      margin: 0 0 4px 0;
      padding: 16px 0 16px 30px;
      font-size: 10pt;
      font-weight: 500;
      // border-top-right-radius: 12px;
      // border-bottom-right-radius: 12px;
      border-radius: var(--border-radius);
      // transition: background-color 0.2s ease;

      &:hover {
        background-color: #dbdee3;
        color: var(--black-color);
        // color: #0c3c95;
      }

      &.active {
        font-weight: 700;
        color: var(--secondary-color);
        background-color: #dbdee3;
      }

      span {
        float: left;
        margin-top: -6px;
        margin-right: 12px;
        font-size: 14pt;
      }
    }
  }

  #actions {
    position: absolute;
    left: 0;
    bottom: 0;
    width: unset;
    padding: 24px;
    text-align: left;

    a {
      width: fit-content;
      margin: 0;
      padding: 4px 6px;
      font-weight: normal;
      color: #000000;

      i {
        margin-right: 5px;
      }
    }
  }
}

.hamburger-menu {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1001;
  // background-color: #fff;
  cursor: pointer;
  padding: 10px;
  font-size: 12pt;
  background: #fff;
  // border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background: var(--button-color);

  .bar {
    width: 20px;
    height: 2px;
    background-color: #000a52;
    margin: 4px 0;
    // transition: 0.3s;
  }
}

/* Extra Small (Phones) */
@media (max-width: 575px) {
  /* Styles */
}

/* Small devices (Tablets, 576px and up) */
@media (max-width: 576px) {
  /* Styles */
}

/* Medium devices (Tablets, 768px and up) */
@media (max-width: 768px) {
  /* Styles */
}

/* Large devices (Laptops, 992px and up) */
@media (max-width: 992px) {
  #moderators-sidebar {
    transform: translateX(-100%);

    &.active {
      transform: translateX(0);
    }
  }

  .hamburger-menu {
    display: block;
  }

  body.sidebar-active {
    .hamburger-menu {
      left: 234px;
    }
  }
}
